@import url(reset.css);
@import url(common.css);
@import url(https://fonts.googleapis.com/css?family=Inter:500,600&display=swap);

body {
   font-family: "Inter";

}

.wrapper {
   overflow: clip;
   min-height: 100%;
}

.header {
   padding-top: 20px;
   padding-bottom: 20px;
}

.header__container {
   max-width: 1190px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.header__logo {
   max-width: 159.39px;
   margin-right: 40px;
}

.header__menu {
   margin-right: 120px;
}

.menu {
   display: inline-block;
}

.menu__list {}

.menu__item {
   position: relative;
   display: inline-block;
   color: #212B36;
}

.menu__item:hover .menu__sub-menu {
   opacity: 1;
   visibility: visible;
   pointer-events: all;
}

.menu__item:not(:last-child) {
   margin-right: 30px;
}

.menu__item--background {
   min-width: 172px;
   padding-right: 40px;
   padding-left: 20px;
   background-color: #F4F7FF;
   border-radius: 5px;
}

.menu__link {
   display: inline-block;
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 16px;
   font-weight: 600;
   color: #212B36;
   line-height: 1.5;
}

.menu__link--img::after {
   content: url("../img/Frame\ 1000002938.svg");
   width: 10px;
   margin-left: 10px;
}

.menu__link:hover {
   color: #3056D3;
}

.menu__sub-menu {
   position: absolute;
   top: 100%;
   left: 0;
   padding: 15px;
   z-index: 1;
   min-width: 180px;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: all 0.3s;
   border: 0.5px solid #E7E7E7;
   border-radius: 5px;
}

.sub-menu {}

.sub-menu__item {
   position: relative;
   display: inline-block;
   color: #637381;
}

.sub-menu__item:hover .sub-menu__fashion {
   opacity: 1;
   visibility: visible;
   pointer-events: all;
}

.sub-menu__item:not(:last-child) {
   margin-bottom: 15px;
}

.sub-menu__fashion {
   position: absolute;
   top: 0;
   left: 175px;
   padding: 30px;
   z-index: 2;
   min-width: 460px;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: all 0.3s;
   border: 0.5px solid #E7E7E7;
   border-radius: 5px;
}

.sub-menu__link {}

.sub-menu__link:hover {
   color: #3056D3;
}

.sub-menu__link--img::after {
   content: url("../img/Vector.svg");
   margin-left: 60px;
}

.fashion {}

.fashion__new-arrivals {
   display: inline-block;
   margin-right: 70px;
}

.new-arrivals {}

.new-arrivals__title {
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   color: #212B36;
}

.new-arrivals__list {}

.new-arrivals__item {
   position: relative;
   display: block;
}

.new-arrivals__item:not(:last-child) {
   margin-bottom: 15px;
}

.new-arrivals__link {
   display: block;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   color: #637381;

}

.fashion__trending {
   display: inline-block;
   margin-right: 69px;
}

.trending {}

.trending__title {
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   color: #212B36;
}

.trending__list {}

.trending__item {
   position: relative;
   display: block;

}

.trending__item:not(:last-child) {
   margin-bottom: 15px;
}

.trending__link {
   display: block;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   color: #637381;
}

.header__actions {
   display: inline-block;
}

.actions {}

.actions__search {
   display: inline-block;
   margin-right: 15px;
}

.actions__link:hover {}

.actions__img {}

.actions__response {
   display: inline-block;
   margin-right: 15px;

}

.actions__basket {
   display: inline-block;
}