@font-face {
    font-family: 'Preciosa';
    src: url('Preciosa.woff2') format('woff2'),
        url('Preciosa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

